n8n/Vector_Store.json
{
  "name": "Vector Store - Customer Facing",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1q1xzM-0CxRJRW5s2icuMjpQU0sSbSNCA",
          "mode": "list",
          "cachedResultName": "n8n demo",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1q1xzM-0CxRJRW5s2icuMjpQU0sSbSNCA"
        },
        "event": "fileCreated",
        "options": {
          "fileType": "all"
        }
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "fd62011a-256c-4076-aeb9-7d4dbeb61fc9",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "HJynz2iydtUAHfnc",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        220,
        0
      ],
      "id": "07e0dd65-7e70-46d0-9877-1db16f98dc06",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "HJynz2iydtUAHfnc",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8ndemo",
          "mode": "list",
          "cachedResultName": "n8ndemo"
        },
        "options": {
          "pineconeNamespace": "Customer Facing"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.1,
      "position": [
        440,
        0
      ],
      "id": "82cdadf5-d8f9-4995-b367-c441e27cec72",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "E6BAh3TpBbIsi2uv",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        340,
        220
      ],
      "id": "02addd3e-b002-474a-88cf-ea5690572802",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "TZt602HE4km5MRuB",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        580,
        220
      ],
      "id": "21b63131-9246-4e47-b38c-9788cfbea625",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        680,
        440
      ],
      "id": "34a99ce3-0b70-435f-8842-579439d2a56e",
      "name": "Recursive Character Text Splitter"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9c68b087-8daa-4881-8678-05ac783139e4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7dc90ed6c91ecbc7f7f7fdf48cacd61c1c8f5015816222b624eaf4d545ae40fe"
  },
  "id": "tJnpaMT5SJcD6OPI",
  "tags": []
}